[run]
branch = True
cover_pylib = False
omit =
    */.local/*
    */.virtualenv/*
    */gui/*
    */__gui/*
    */_assistants_/*
    */_reports_/*
    */tests/*
    */views/*
    __init__.py
    conf.py
    setup.py

[report]
omit =
    */.local/*
    */.virtualenvs/*
    */gui/*
    */__gui/*
    */_assistants_/*
    */_reports_/*
    */tests/*
    __init__.py
    conf.py
    setup.py
exclude_lines =
    pragma: no cover
    import
    if self._test
    if __name__ == __main__:
show_missing = True

[html]
directory = .reports/coverage/html
title = "RAMSTK Test Coverage Report"
