[run]
omit = *FixTk*, *PIL*, *ast*, *bisect*, *bottleneck*, *contextlib*, *calendar*, *csv*, *ctypes*, *dateutil*, *decimal*, *distutils*, *email*, *encodings*, *fractions*, *gzip*, *hmac*, *html5lib*, *httplib*, *httplib2*, *importlib*, *lifelines*, *lxml*, *matplotlib*, *mimetools*, *numbers*, *numexpr*, *numpy*, *pandas*, *pygtk*, *pyparsing*, *pytz*, *rfc822*, *scipy*, *six*, *sqlite3*, *tarfile*, *timeit*, *urllib2*, *uuid*, *xml*, *xlwt*
