# Generic files to ignore
*~
*.lock
*.DS_Store
*.out
.Rhistory
.ropeproject
*.swp
*.idea
*.goutputstream*
*.geanyprj
*.tox

# Python specific directories and files to ignore
target/
*.egg-info
*.pyc
*.pyo

# RTK specific directories and files to ignore
.gtm/
*.csv
*.glade
*.log
*.txt
*.xls*
.coverage*
*html
build/
docs/_temp/
docs/build/
docs/generated/
docs/specs/
docs/source/_static/
docs/source/_templates/
rtk-RQA/
tests/_test_results/
CodeCounts.sql
FailureModes.sql
Makefile
Notes
RTKModuleTemplate.py
RTKUML.xmi
code.counts
geany_run_script.sh
pylintout
/.eric6project/RTK.e4q
/.eric6project/RTK.e6t
/RTK.e4p
/rtk/hardware/BoM.coverage
/rtk/hardware/BoM.profile
/rtk/hardware/BoM.timings
coverage.xml

# Override settings for some specific files.
!/license.txt
!/requirements.txt
