# Generic files to ignore
*~
*.lock
*.DS_Store
*.out
.Rhistory
.ropeproject
*.swp
*.idea

# Python specific files to ignore
*.pyc
*.pyo

# RTK specific files to ignore
Notes
workbook_mockup.glade
code.counts
geany_run_script.sh
html
pylintout
*.xls*
*.log
*.txt
*.csv
docs/generated/
/devtools/RTKModuleTemplate.py
