include *

exclude .bandit
exclude .bandit.baseline
exclude .coverage
exclude .coveragerc
exclude .gitattributes
exclude .gitchangelog.rc
exclude .gitcommitmessage.txt
exclude .gitignore
exclude .isort.cfg
exclude .pre-commit-config.yaml
exclude .pylintrc
exclude .travis.yml
exclude appveyor.yml*
exclude bump_version.sh
exclude coverage.xml
exclude pytest.ini
exclude tags

graft src
graft data
graft docs
graft locale

global-exclude *.py[co]
global-exclude *.aux
global-exclude *.log
global-exclude *.synctex.gz

prune docs/api/build
