graft src

global-exclude *.pyc
global-exclude *.fuse*

include *.md
include *.py
include *.rc
include *.txt
include .coveragerc
include .pylintrc
include pytest.ini
include LICENSE

exclude requirements.txt
exclude .bandit
exclude tests

recursive-include .circleci *.yml
recursive-include data *.conf *.desktop *.ico *.png *.xml
recursive-include docs *.md
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.tex
recursive-include locale *.pot
recursive-include src/rtk *.py

recursive-exclude tests *
