[Desktop Entry]
Name=RelKit
Type=Application
Comment=An open-source RAMS analyses solution.
Exec=reliafree
TryExec=reliafree
Icon=RelKit
Categories=Math;Science;
