-r requirements-test.txt

# Packaging
check-manifest

# Code formatting
docformatter
isort
pep8
pre-commit
pre-commit-hooks
seed-isort-config
yapf

# Static code checking
bandit
mccabe
mypy
pycodestyle
pydocstyle
pylint
radon

# Documentation
Babel
sphinx
sphinx_py3doc_enhanced_theme
sphinxcontrib-issuetracker
sphinxcontrib-spelling
recommonmark
