defusedxml
lifelines<0.15
lxml
matplotlib
openpyxl
pandas
pycairo
pypubsub
sortedcontainers
sqlalchemy-utils
sqlalchemy>=1.3.0
statsmodels
sympy
treelib>=1.5.3
xlrd
XlsxWriter
xlwt
git+https://git.gnome.org/browse/pygobject#egg=pygobject==3.18.2
