lifelines
matplotlib
numpy<1.20.0; python_version<'3.7'
numpy>=1.20.0; python_version>='3.7'
openpyxl
pandas==1.1.5
psycopg2
pycairo<1.20.0
pygobject>=3.27
pypubsub
scipy<1.6.0; python_version<'3.7'
scipy>=1.6.0; python_version>='3.7'
sortedcontainers
sqlalchemy-utils
sqlalchemy>=1.3.0
statsmodels
sympy
toml
treelib>=1.5.3
xlrd
XlsxWriter
xlwt
