# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    working_directory: ~/rtk-python2.7-pygtk
    docker:
      - image: circleci/python:2.7
    steps:
      - checkout
      - restore_cache:
          key: deps-{{ .Branch }}-{{ checksum "requirements_dev.txt" }}
      - run:
          name: Install PyGTK
          command: |
            echo "Installing PyGTK"
            sudo apt-get update
            sudo apt-get install -yqq python-gtk2 python-gtk2-dev
      - run:
          name: Install RTK runtime dependencies
          command: |
            python -m virtualenv venv
            . venv/bin/activate
            pip install -U pip
            pip install -U setuptools>12.0
            pip install --only-binary=numpy numpy==1.14.3
            pip install --only-binary=scipy scipy==1.0.0
            pip install coverage==4.0.3
            pip install -r requirements_run.txt
            pip install -r requirements_dev.txt
            pip install matplotlib==1.4.3

      - save_cache:
          key: deps-{{ .Branch }}-{{ checksum "requirements_dev.txt" }}
          paths:
            - ./venv

      - run:
          name: Test RTK
          command: |
            . venv/bin/activate
            python setup.py test

      - store_artifacts:
          path: test-reports/
          destination: test-reports
