name: Issue Open Workflow

on:
  issues:
    types: [opened, edited]

jobs:
  label_issue_backlog:
    runs-on: ubuntu-latest
    steps:
      - name: Add backlog label
        uses: andymckay/labeler@master
        with:
          add-labels: "status: backlog"

  autolabel_issues:
    runs-on: ubuntu-latest
    steps:
      - name: Apply labels to new issue
        uses: Naturalclar/issue-action@v2.0.2
        with:
          title-or-body: "both"
          parameters: '[ {"keywords": ["priority: low"], "labels": ["priority: low"], "assignees": [""]},
                         {"keywords": ["priority: normal"], "labels": ["priority: normal"], "assignees": [""]},
                         {"keywords": ["priority: high"], "labels": ["priority: high"], "assignees": [""]},
                         {"keywords": ["priority: blocker"], "labels": ["priority: blocker"], "assignees": [""]},
                         {"keywords": ["type: build"], "labels": ["type: build"], "assignees": [""]},
                         {"keywords": ["type: CI/CD"], "labels": ["type: ci"], "assignees": [""]},
                         {"keywords": ["type: documentation"], "labels": ["type: docs"], "assignees": [""]},
                         {"keywords": ["type: feature"], "labels": ["type: feature", "bump: minor"], "assignees": [""]},
                         {"keywords": ["type: fix"], "labels": ["type: fix", "bump: patch"], "assignees": [""]},
                         {"keywords": ["type: refactor"], "labels": ["type: refactor"], "assignees": [""]},
                         {"keywords": ["type: style"], "labels": ["type: style"], "assignees": [""]},
                         {"keywords": ["type: test"], "labels": ["type: test"], "assignees": [""]},
                         {"keywords": ["bump: major", "BREAKING"], "labels": ["bump: major"], "assignees": [""]},
                         {"keywords": ["bump: minor"], "labels": ["bump: minor"], "assignees": [""]},
                         {"keywords": ["bump: patch"], "labels": ["bump: patch"], "assignees": [""]},
                         {"keywords": ["dobranch"], "labels": ["dobranch"], "assignees": [""]},
                         {"keywords": ["Epic"], "labels": ["Epic"], "assignees": [""]},
                         {"keywords": ["Release"], "labels": ["Release"], "assignees": [""]} ]'
          github-token: "${{ secrets.GITHUB_TOKEN }}"
