# This workflow runs when a pull request is opened.
#
# - Job 1:
#     - Check the PR title follows conventional commit spec.
# - Job 2:
#     - Label the PR based on the rules in .github/pr-labeler.yml
name: Open Pull Request Workflow

on:
  pull_request:
    types: [opened]

jobs:
  good-pr-title:
    name: Ensure Conventional PR Title
    runs-on: ubuntu-latest
    steps:
      - name: Ensure PR title follows conventional commits specification
        uses: aslafy-z/conventional-pr-title-action@master
        with:
          success-state: Conventional commits compliant title detected.
          failure-state: Pull request title is not conventional commits compliant!
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  pr-labeler:
    name: Label Pull Request from Branch Name
    runs-on: ubuntu-latest
    steps:
      - name: Apply Labels to PR
        uses: TimonVS/pr-labeler-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
