# This workflow runs when a pull request is assigned.
#
# - Job 1:
#     - Adds status: inprogress label to PR
name: Pull Request Assign Workflow

on:
  pull_request:
    types:
      - assigned

jobs:
  label_pr_in_progress:
    runs-on: ubuntu-latest
    steps:
      - name: Add in progress label
        uses: andymckay/labeler@master
        with:
          add-labels: "status: inprogress"
